@mixin general-button($background-color, $color, $trans-background, $trans-color) {
    border: 1.5px solid $background-color;
    background-color: $background-color;
    padding: 1.1rem 2.2rem;
    box-shadow: inset 0 0 0 0 $trans-background;
    transition: 0.2s linear;
    color: $color;
    position: relative;
    overflow: hidden;;
    &::before{
        content: '';
        width: 40px;
        height: 200px;
        background-color:rgba(245, 245, 245, 0.4);
        position: absolute;
        left: -70px;
        bottom: 0;
        transform: skewX(-20deg);
        transition: .2s linear
    }

    &:hover{
        &::before{
            left: 200px
        }
    }
}