@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header-bold {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    padding: 2rem;
}

.header-light {
    font-size: 3rem;
    font-weight: 300;

}

.header-text {
    font-size: 2.7rem;
    font-weight: 300;
    padding: 2rem;
    line-height: 1.1;
}

.section-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
    margin: 6rem 0;
    margin-top: 10rem
}

.section-subtitle {
    font-size: 1.6rem;
    font-weight: 600;
}

.text {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}

.bold-text {
    font-size: 1rem;
    font-weight: 600;
}

.primary-color{
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.light-color {
    color: $light-color;
}

.contrast-color {
    color: $contrast-color;
}

a{text-decoration: none;}